*{

box-sizing: border-box;
margin: 0;
padding: 0;

}

body{

font-family: "Lexend Deca", sans-serif;

}

h1{

padding: 1rem;
font-size: 3rem;

}

input{

padding: 0.5rem;
margin: 1rem;
border-radius: 55px;
}

button{


border-radius: 15px;
padding: 0.5rem;

}

p{

margin: 1rem;

}
